# files--------------
*.jpg
test.py
test.js
*.pyc
# SQLite databases
*.sqlite*

# folders------------
# temp
# migrations
flask/flasky/tmp
flask/microblog/flask
# Virtual environment
*venv/

# Developer----------
*.sublime-*
*.idea/
# Foreman环境变量文件
*.env

# Exclude -------
!django/rest/*.sqlite*
